# Example environment variables for local development
VITE_API_URL=https://neo-hackathon-backend.onrender.com
VITE_GOOGLE_CLIENT_ID=1009724412120-p39t0a6ujg9nmuqlrk383e6skl2rjlp9.apps.googleusercontent.com
